<!DOCTYPE HTML>
<html>
    <head>
    <meta charset="UTF-8">
    <title>mktsewhoy.github.io CSS file</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300|Titillium+Web" rel="stylesheet" type="text/css">
    
    <style type="text/css">
        body {
            background-color: #800000;
        }
        h1 {font-size: 48px;
            color: #ffff40;
            font-family: "Titillium Web", sans-serif;
        }
        h2 {font-size: 36px;
            color: #ffff40;
            font-family: "Titillium Web", sans-serif;    
        }
        h3 {font-size: 24px;
            color: #ffff40;
            font-family: "Titillium Web", sans-serif; 
            }
        p {font-size: 14px;
            color: #ffff40;
            font-family: 'Merriweather', serif;
        }
        .pbox {background-color: #d00000;
            padding: 16px 16px 16px 16px;
            border-style: solid;
            border-width: 1px;
            border-color: #c0c000;
        }
        a.link {color: #ff8000;
        }
        a.visited {color: #804000;
        }
        a.hover {color: #80ff80;
        }
        a.active {color: #ffffff;
        }


    </style>
    </head>

    <body bgcolor=#800000>
        
    </body>

</html>
