<head>
    <meta charset="UTF-8">
    
    <style type="text/css">
        body {background-color: #800000;
            font-size: 16px;
            color: #ffff40;
            font-family: 'Merriweather', serif;
        }

        h1 {font-size: 48px;
            background-color: #800000;
             color: #ffff40;
             font-family: "Titillium Web", sans-serif;
        }
        a, a:link, a:visited {
            color: #ffff40;
        }
        a:hover {color: orange;}
        a:active {color: white;
        }
        h2 {font-size: 32px;
            background-color: #800000;
            color: #ffff40;
            font-family: "Titillium Web", sans-serif;    
        }
        h3 {font-size: 24px;
            color: #ffff40;
            background-color: #800000;
            font-family: "Titillium Web", sans-serif; 
            }
        h4 {font-size: 20px;
            color: #ffff40;
            font-family: "Titillium Web", sans-serif;
       
        }
        h5 {font-size: 18px;
            color: #ffff40;
            font-family: "Titillium Web", sans-serif;
            
            margin-left: 16px;
            margin-right: 16px;
        }

        p {font-size: 16px;
            color: #ffff40;
            font-family: 'Merriweather', serif;
            margin-left: 16px;
            margin-right: 16px;
        }
        .menu {
            background-color: #c00000;
            border-style: solid;
            border-width: 1px;
            border-color: #c0c000;
            display: grid;
            grid-template-columns: 128px 128px 128px;
            margin: 8x 8x 8x 8x;
            padding: 8x 8x 8x 8x;
            max-width: 1200px;
            min-width: 430px;
            text-align: center;
            width: 50%;
        }
        .mono {font-family: Ubuntu Mono; monospace;
            font-size: 18px;
            color: cyan;
        }

        .pbox {background-color: #d00000;
            margin: 8x 8x 8x 8x;
            padding: 8x 8x 8x 8x;
            border-style: solid;
            border-width: 1px;
            border-color: #c0c000;
            max-width: 1200px;
            min-width: 430px;
            width: 50%;
        }
        
        .text {font-color: #ffff40;
            font-family: 'Merriweather', serif;}
     
    </style>
</head>

